#appointmentlist {
  padding: 0 25% 0 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

#filtercontainer {
  padding: 0 25% 0 25%;
  display: flex;
}
#filtercontainer .label {
  font-size: 14px;
  font-weight: bold;
}
#filtercontainer .filterinput {
  margin: 4px;
}

#appointmentlist_entry {
  display: flex;
  border-style: ridge;
  background-image: linear-gradient(to right, rgb(224, 224, 224), rgb(192, 192, 192));
}
#appointmentlist_entry p {
  flex: 1;
  text-align: center;
}/*# sourceMappingURL=Overview.css.map */