$base_padding: 0 25% 0 25%;

#appointmentlist {
    padding: $base_padding;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

#filtercontainer {
    padding: $base_padding;
    display: flex;

    .label {
        font-size: 14px;
        font-weight: bold;
    }

    .filterinput {
        margin: 4px;
    }
}

#appointmentlist_entry {
    display: flex;
    border-style: ridge;
    background-image: linear-gradient(to right,rgb(224,224,224),rgb(192,192,192));
    
    p {
        flex: 1;
        text-align: center;
    }
}