#contact_container {
  padding: 0 25% 0 25%;
}

#address {
  background-color: lightgray;
  border-style: ridge;
}

.contactparagraph {
  text-align: center;
  font-size: 14px;
  margin: 4px;
}/*# sourceMappingURL=Contact.css.map */