$base_padding: 0 25% 0 25%;

#contact_container {
    padding: $base_padding;
}

#address {
    background-color: lightgray;
    border-style: ridge;
}

.contactparagraph {
    text-align: center;
    font-size: 14px;
    margin: 4px;
}