form {
  padding: 0 25% 0 25%;
  margin-bottom: 32px;
}

#formcontainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

#postal {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#contact {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.inputcontainer {
  display: flex;
  margin: 4px;
}

#button_container {
  display: grid;
  grid-template-columns: 60% 40%;
}

#submit_button {
  margin-right: 8px;
  grid-column: 2;
}

#optional_paragraph {
  margin-right: 8px;
  font-weight: bold;
  font-size: 11px;
  text-align: end;
  color: red;
}

label {
  flex: 1;
}

input {
  flex: 2;
}/*# sourceMappingURL=Appointment.css.map */