#navbar {
  padding: 0 25% 0 25%;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  border-style: ridge;
}
#navbar ul a {
  flex: 1;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: lightgray;
  margin: 0 3% 0 3%;
}/*# sourceMappingURL=Navbar.css.map */